* {
	font-family: Arial;
}

#main {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	height: 100%;
	width: 100%;
}

h4,h1 {
	width: 100%;
	text-align: center;
	margin: 0px;
}

#titleDiv {
	display: flex;
	flex-direction: column;
	align-content: center;
	height: 100px;
	justify-content: space-around;
}

#codeDiv {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	resize: vertical;
}

#ioDiv {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
}

#inCodeDiv, #outCodeDiv, #infoDiv, #stdinDiv, #stdoutDiv, #selectionDiv {
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
}

textarea, #buttons, #outCodeTextArea, #infoTextArea {
	margin: 5px;
	flex-grow: 1;
	overflow: auto;
	white-space: nowrap;
}

#buttons {
	display: flex;
	flex-direction: column;
}

p {
	text-align: left;
}

.textLabel {
	text-align: center;
}

#variable {
	flex-grow: 0;
}
